main {
  display: grid;
  position: relative;
  z-index: 0;
  background-color: var(--gray-500);
  width: 100%;
  height: 917px;
  justify-content: center;
}

.second-header p {
  font: var(--subtitle);
  color: var(--red);
}

.second-header h2 {
  font: var(--title-md);
  color: var(--gray-100);
}

.title-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1040px;
  height: 61px;
  flex-direction: column;
  gap: 8px;
  margin-top: 72px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 1040px;
  height: 584px;
  margin-top: 54px;
  margin-bottom: 144px;
}

.grid-container img {
  width: 306px;
  height: 156px;
  border-radius: 12px;
  margin: 12px;
}

.grid-container h2 {
  font: var(--title-sm);
  color: var(--gray-100);
  margin: 0 12px 17px 12px;
}

.grid-container p {
  font: var(--text-sm-maven);
  color: var(--gray-200);
  margin: 0 12px 17px 12px;
}

.card-travelgram {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-travelgram:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.card-tech-news {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-tech-news:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.card-pg-receita {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-pg-receita:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.card-zingen {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-zingen:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.card-refund {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-refund:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.card-pg-turismo {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 12px;
}

.card-pg-turismo:hover {
  border: 1px solid gray;
  transition: border 0.3s ease;
}

.services {
  display: flex;
  background-color: var(--gray-600);
  background-size: 100% auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
  justify-content: center;
  padding: 88px 120px 120px 120px;
}

.services p {
  font: var(--subtitle);
  color: var(--red);
}

.services h2 {
  font: var(--title-md);
  color: var(--gray-100);
}

.text-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 88px;
  width: 355px;
  height: 61px;
}

.container-3 {
  display: grid;
  width: 888px;
  height: 155px;
  margin-top: 56px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
}

.container-3  i {
  font-size: 48px;
  margin: 20px 20px 20px 20px;
}

.container-3  h2 {
  font: var(--title-sm);
  color: var(--gray-100);
}

.container-3 p {
  font: var(--text-sm-maven);
  color: var(--gray-200);


}

.devices { 
  display: flex;
  width: 280px;
  height: 155px;
  border-radius: 12px;
  border: 1px solid gray;
  box-sizing: border-box;
  flex-direction: column;
  align-items: baseline;
  color: var(--purple);
}

.hard-drives {
  display: flex;
  width: 280px;
  height: 155px;
  border-radius: 12px;
  border: 1px solid gray;
  box-sizing: border-box;
  flex-direction: column;
  align-items: baseline;
  color: var(--yellow);
}

.infinity {
  display: flex;
  width: 280px;
  height: 155px;
  border-radius: 12px;
  border: 1px solid gray;
  box-sizing: border-box;
  flex-direction: column;
  align-items: baseline;
  color: var(--green);
}